* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: lightgray;
}

div {
  position: absolute;
  width: 50px;
  height: 50px;
}

div:first-child {
  left: 0;
  transition: left 5s;
  background-color: red;
}

div:last-child {
  left: 0;
  top: 55px;
  transition: left 4s;
  transition-delay: 1s;
  background-color: green;
}

section:hover div {
  left: 90%;
}
