* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.grey {
  background-color: lightgrey;
  width: 100%;
  height: 200px;
}
div.hover {
  background-color: red;
  height: 100px;
  width: 100px;
  transition: 2s;
}
div.hover:hover {
  width: 100%;
}
